{% extends 'base.html' %}

{% block title %} Find Your Sign | Horoscope Central {% endblock %}


{% block content %}

<body class="sign_search_page">

<div class = "home_content">
	<div class="form_content">

	<p>Select your birth month:</p>
	<form action="/findSignBday" method='POST'>
		<input type="radio" name="month" value="January"> January<br>
		<input type="radio" name="month" value="February"> February<br>
		<input type="radio" name="month" value="March"> March<br>
		<input type="radio" name="month" value="April"> April<br>
		<input type="radio" name="month" value="May"> May<br>
		<input type="radio" name="month" value="June"> June<br>
		<input type="radio" name="month" value="July"> July<br>
		<input type="radio" name="month" value="August"> August<br>
		<input type="radio" name="month" value="September"> September<br>
		<input type="radio" name="month" value="October"> October<br>
		<input type="radio" name="month" value="November"> November<br>
		<input type="radio" name="month" value="December"> December<br><br>

		<p>Select your day of birth:</p>
		<input type="text" name="day">

		<input type="submit" value="Submit">
	</form>

	</div>
</div>

</body>

{% endblock %}