.sign_search_page {
	background: url('../images/background.jpg') no-repeat center center fixed;
	background-size: cover;
}

.horoscope_page_info {
	background-color: white;
}

.home_content {
	background-color: rgba(0, 0, 0, .5);
	border-radius: 25px;
	color: white;
	position:absolute;
	top: 50%;
	left: 50%;
	width: 30%;
	height: 45%;
	margin-top: -15%; /*set to a negative number 1/2 of your height*/
	margin-left: -15%; /*set to a negative number 1/2 of your width*/
}


.form_content {
	overflow: auto;
	padding-left: 10%;
	padding-top: 5%;
}

#horoscope {
	padding: 60px;
	background: black;
	border-radius: 60px;
	margin: 20px;
	color: white;
}

.sign_title {
	font-family: 'Alex Brush', cursive;
	font-size: 64px;
	margin-left: 10px;
	text-align: center;
}

.sign_image {
	width: 60%;
	border-radius: 600px;
}

.sign_dates {
	display: inline-block;
}

.header_img {
	text-align: center;
}


.horoscope_section {
	margin-top: 40px;
	width: 32%;
	padding-right: 1%;
	display: inline-block;
	vertical-align: top;
}
